/* FP WEB120 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html,
body {
  background-color: #f3db94;
  color: #ffffff;
}

/* Desktops and laptops ----------- */
@media all and (min-width: 1280px) {
  /* CSS rules */

  /* home page */
  .team {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  .history{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  
/* end home page */
/* location pages */

  .map{
    width: 100%;
    height: 250px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hours{
    list-style-type: none;
    padding-left: 10px;
  }

  .location{
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
  }
/* menu pages */
  .grid-container {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: auto auto auto;
    padding: 25px;
    float: left;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 18px;
    font-size: 22px;
    text-align: center;
    font-weight: 200;
  }
.grid-item img{
  width: 400px;
  height: auto;
}

  section {
    float: left;
    width: 64%;
    padding-left: 2.5%;
  }

  aside {
    float: right;
    width: 26%;
    padding-right: 2.5%;
  }

  header h1 {
    text-align: right;
  }
/* footer start */
  footer {
    color: rgb(100, 100, 100);
    text-align: center;
    text-transform: uppercase;
    clear: both;
    padding-top: 20px;
    background-color: #f3db94;
  }

  div.wrapper,
  footer {
    width: 90%;
    margin: auto;
    overflow: auto;
  }
  footer p {
    padding: 2em;
  }

  footer a {
    color: rgb(100, 100, 100);
    text-decoration: none;
  }

  footer a:hover {
    color: #626464;
    background-color: black;
  }

  /* footer end */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    padding: 0.5em;
  }

  p {
    margin: 1em 0.8em;
  }

  div.dot iframe {
    border: 0;
    overflow: no;
  }
  .pageID {
    text-align: start;
  }
  /* START Global Embed Responsively Rules! */
  div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div.embed-container.agenda-view {
    display: none;
  }
}
/* END Global Embed Responsively Rules! */

/* TABLET */
@media all and (min-width: 737px) and (max-width: 1399px) {
  section {
    width: 60%;
    float: left;
  }

  aside {
    width: 39%;
    float: right;
  }
}

/* PHONE */
@media all and (max-width: 736px) {
  aside {
    width: 100%;
    display: inline-block;
  }

  section {
    width: 100%;
  }

  #frame {
    height: "900";
    width: "300";
    border: none;
  }
}
