/* FP WEB120 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f3db94;
  color: #ffffff;
}

/* Desktops and laptops ----------- */
@media all and (min-width: 1280px) {
  /* CSS rules */

  /* home page */
  .team {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
  }
.row {
    display: flex;
  }
  .home {
    display: flex;
    justify-content: center;
  }

  .home1 {
    justify-content: flex-start;
  }

  .home2 {
    justify-content: center;
  }

  .home3 {
    justify-content: flex-end;
  }

  .home1 .home2,
  .home3 {
    width: 30%;
    height: auto;
    overflow: hidden;
  }

  
/* end home page */
/* location pages */

  .map{
    width:500%;
    height:auto;

  }

  div.wrapper,
  footer {
    width: 90%;
    margin: auto;
    background-color: #fff;
    overflow: auto;
  }

  section {
    float: left;
    width: 64%;
    padding-left: 2.5%;
  }

  aside {
    float: right;
    width: 26%;
    padding-right: 2.5%;
  }

  header h1 {
    text-align: right;
  }

  footer {
    color: rgb(100, 100, 100);
    text-align: center;
    text-transform: uppercase;
    clear: both;
    background-color: #aaddd6;
  }

  footer p {
    padding: 2em;
  }

  footer a {
    color: rgb(100, 100, 100);
    text-decoration: none;
  }

  footer a:hover {
    color: #626464;
    background-color: black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    padding: 0.5em;
  }

  p {
    margin: 1em 0.8em;
  }

  div.dot iframe {
    border: 0;
    overflow: no;
  }
  .pageID {
    text-align: start;
  }
  /* START Global Embed Responsively Rules! */
  div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div.embed-container.agenda-view {
    display: none;
  }
}
/* END Global Embed Responsively Rules! */

/* TABLET */
@media all and (min-width: 737px) and (max-width: 1399px) {
  section {
    width: 60%;
    float: left;
  }

  aside {
    width: 39%;
    float: right;
  }
}

/* PHONE */
@media all and (max-width: 736px) {
  aside {
    width: 100%;
    display: inline-block;
  }

  section {
    width: 100%;
  }

  #frame {
    height: "900";
    width: "300";
    border: none;
  }
}
