/* FP WEB120 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  list-style-type: none;
  letter-spacing: 1.5px;
}

/* START Global Embed Responsively Rules! */

div.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

div.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.embed-container.agenda-view {
  display: none;
} 

.wrapper{
  width: 100%;
}

html,
body {
  background-color: #feffb6;
  color: black;
}

p {
  font-size: 26px;
  margin: 1em 0.8em;
}
/* header starts */
header h1 {
  text-align: right;
  background-color: rgba(255, 238, 6, 0.46);
}

.pageID {
  text-align: start;
  padding: 20px 5px 10px 5px;
}

.logo {
  padding: 5px 5px 0px 5px;
}
/* header ends */

/* footer start */
footer {
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  clear: both;
  background-color: rgba(255, 238, 6, 0.46);
}

div.wrapper,
footer {
  margin: auto;
  overflow: auto;
}
footer p {
  padding: 1em;
  font-size: 16px;
}

footer a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

footer a:hover {
  color: #626464;
  background-color: black;
}

/* footer ends */

/* location page starts */
.l-location {
  display: inline-block;
  margin-left: 100px;
}

.r-location {
  float: right;
  margin-right: 100px;
}

.location-info {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.map {
  width: 100%;
  height: 250px;
  padding-left: 50px;
  padding-right: 50px;
}

.hours {
  padding-left: 30px;
}

.address {
  float: left;
  padding-left: 15px;
}
/* location page ends */
/* Desktops and laptops ----------- */
@media all and (min-width: 1280px) {
  
/* Multiple and Catering Starts*/
.orderOnline {
  background-color: rgba(255, 238, 6, 0.46);
  width: 650px;
  margin-bottom: 100px;
  border-radius: 25px;
}

.left {
  float: left;
  padding: 30px;
}
.cater {
  padding: 24px;
}
.card {
  float: left;
  padding: 20px 10px;
  margin-top: 45px;
}

.card2 {
  border-width: 2px;
  margin: 45px;
  padding: 20px;
}
.card,
.card2 {
  display: grid;
  font-size: 20px;
  width: 45%;
  height: 300px;
  border: white 2px solid;
  margin: 20px;
}

.event {
  width: 10%;
}

.amt {
  width: 40%;
  padding-bottom: 40px;
}

.g-recaptcha {
  padding: 30px 0px;
}

.text {
  padding: 20px;
}

.catImg {
  width: 605px;
  margin-left: 50px;
  margin-top: 32px;
}

.catInfo {
  width: 85%;
  text-align: center;
  margin-left: 50px;
}

.cat-r {
  width: 50%;
}

label {
  padding: 10px;
}

/* Multiple and Catering Ends */

/* Employment Page Starts */

.employ {
  width: 45%;
  height: auto;
  padding: 20px;
}

.form {
  background-color: rgba(255, 238, 6, 0.46);
  border: red 2px solid;
  color: black;
  float: right;
  margin-right: 20px;
  width: 600px;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 70px;
}

.checkbox {
}

.time{
  
}

/* Employment Page Ends */


  section {
    float: left;
    /* width: 64%; */
    width: 100%;
    padding: 40px 20px 35px 38px;
  }

  aside {
    float: right;
    width: 26%;
    padding-right: 2.5%;
  }

  /* header ends */
  /* home page */
  .team {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  .history {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  /* end home page */

  /* menu page starts */
  .grid-container {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: auto auto auto;
    padding: 25px;
    float: left;
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: 200;
  }
  .grid-item img {
    width: 440px;
    height: auto;
    margin-top: -10px;
    margin-bottom: 15px;
  }

  .types {
    font-size: 46px;
    text-align: center;
  }
  /* menu page ends */

  /* employment page starts */
  
  /* employment page ends */

  
}
/* END Global Embed Responsively Rules! */

/* TABLET */
@media all and (min-width: 737px) and (max-width: 1399px) {
  /* header */

  .pageID {
    padding: 10px 0px 10px 5px;
  }
  /* section {
    width: 60%;
    float: left;
  }

  aside {
    width: 39%;
    float: right;
  } */

  /* index starts */
  .team {
    padding: 5px 0px 5px 90px;
    width: 90%;
  }

  .history {
    width: 90%;
    padding: 5px 0px 5px 90px;
  }

  /* Index ends */

  /* location page starts */
/* 
  .map {
    width: 100%;
    height: 250px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hours {
    padding-left: 30px;
  }

  .location {
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
  }

  .address {
    float: left;
    padding-left: 15px;
  } */


  .l-location {
    display: inline-block;
    margin-left: 100px;
  }
  
  .r-location {
    float: right;
    margin-right: 100px;
  }
  
  .location-info {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .map {
    width: 350%;
    height: 450px;
    padding-left: 250px;
  }
  
  .hours {
    padding-left: 30px;
  }
  
  .address {
    float: left;
    padding-left: 15px;
  }






  /* location page ends */

  /* menu page starts */
  .grid-item h3 {
    padding: 20px;
  }

  .grid-item img {
    border-radius: 45px;
    margin-left: 55px;
    width: 85%;
    padding: 20px;
  }
  /* menu page ends */
}

/* PHONE */
@media all and (max-width: 736px) {
  /* header */
  .logo {
    float: right;
    padding: 5px;
  }
  .pageID {
    text-align: start;
    padding: 5px;
  }
  /* header ends*/

  /* index starts */
  .team {
    padding: 5px;
  }

  .history {
    width: 1100px;
    height: auto;
    text-align: center;
    padding-left: 80px;
  }

  /* Index ends */

  /* aside {
    width: 100%;
    display: inline-block;
  }

  section {
    width: 100%;
  } */

  #frame {
    height: "900";
    width: "300";
    border: none;
  }

  /* employment page starts */
 .employ{
   width: 400%;
   padding: 10px;
 }

  .form {
    padding: 25px;
    width: 380%;
    padding-bottom: 60px;
   
  }

  /* employment page ends */

  /* footer */
  footer {
    width: 400%;
  }

  /* menu page starts */

  .grid-item img {
    width: 100%;
    padding: 10px;
    border-radius: 40px;
  }

  .grid-item h3 {
    text-align: center;
  }

  .grid-item p {
    font-size: 20px;
    text-align: center;
  }
  /* menu page ends */

  /* location page starts */

  .r-location,
  .l-location {
    text-align: center;
  }

  .map {
    width: 100%;
  }
  /* location page ends */
}
